@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&family=Overpass:wght@300;600&family=Poppins:wght@100;200;300;400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: hsl(235, 21%, 11%);
    font-family: 'Josefins', sans-serif;
    color: hsl(234, 39%, 85%);
}
html{
    font-size: 62.5%;
}


/* generel styling */

h1{
    color: white;
    font-size: 3rem;
    letter-spacing: 1rem;
}
p{
    display: inline-block;
    font-size: 1.5rem;
    padding-left: 1.5rem;
}

/* header */

header{
    background-image: url('../images/bg-desktop-dark.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 30vh;
    padding: 0 2rem;
}
main{
    max-width: 55rem;   
    height: 20vh;
    margin: 0 auto;
}
.mainHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 55rem;
    padding-top: 8rem;
}
.mainInput{
    width: 100%;
    margin-top: 2rem;
    min-height: 5vh;
    padding-left: 1.5rem;
    background-color: hsl(236, 15%, 21%);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .input{
    width: 96%;
    height: 100%;
    background-color: hsl(236, 15%, 21%);
    padding-left: 2rem ;
    border: none;
}
.moon{
    display: none;
}
.sun,
.moon{
    width: 3rem;
    height: 3rem;
}

/* main container */

.mainContainer{
    max-width: 59rem;
    margin: 0 auto;
    padding: 0 2rem;
    margin-top: -5rem;
}
.container{
    min-height: 50vh;
    background-color: hsl(236, 15%, 21%);
    max-width: 55rem;
}
.items{
    border-bottom: 1px solid hsl(234, 11%, 52%);
    width: 100%;
    margin-top: 0;
    height: 5vh;
    padding: 1.5rem;
    border-radius: 0%;
    display: flex;
    align-items: center;
}
.filterSection{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1.5rem;
    color: hsl(234, 11%, 52%);
    font-size: 1.2rem;
    word-spacing: .2rem;
}
.filterItems{
    display: flex;
    justify-content: space-between;
    width: 30%;
    gap: 10px;
}
.filItems{
    display: none;
}
/* footer */

footer{
    text-align: center;
    font-size: 1.2rem;
    padding-top: 3rem;
    color: hsl(234, 11%, 52%);;
}


/* media query */

@media all and (max-width:420px) {
    header{
        background: url('../images/bg-mobile-dark.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .filterItems {
        display: none;
    }
    .filterItem{
        padding: 0 2rem;
        max-width: 55rem;
        height: 10vh;
    }
    .filItems{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 2rem auto;
        font-size: 1.3rem;
        color: hsl(234, 11%, 52%);
        background-color: hsl(236, 15%, 21%);
        height: 5vh;
        border-radius: 5px;
    }
}


